@use '../base/root' as *;

.button {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 0.8em;
  display: inline-block;
  border-radius: 0.2em;
  min-width: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-variant: small-caps;
  cursor: pointer;
  text-align: center;
  transition: all .4s ease-out;
  @media (min-width: 25em) {
    min-width: 11em;
    margin: 0 auto;
  }
  @media (min-width: 50em) {
  padding: .3em .6em;
  transition: all .2s ease-out;

  }
  &:hover{
    color: $brand-color;
    background-color: $white;
    // border:$brand-color;
  }
  &:active,&:focus{
    box-shadow: 0 0 2px 5px rgba($black, 0.7);
    // border: $black;

  }
}

// .button--secondary {
//   color: $secondary-clr;
//   border: 1px solid $secondary-clr;
//   padding: 0.3em 0.6em;
//   font-variant: unset;
//   min-width: unset;
//   overflow: hidden;
//   text-indent: 11em;
// }

.button--cta{
 border-radius: 0;
 @media (min-width: 50em) {
&:hover{
  background-color: $white;
  color: $black;
} 
&:hover > span{
color: $brand-color;
}
}
}