@use '../base/root' as c;

.nav-top {
  position: relative;
  @media (min-width: 50em) {
    display: flex;
    background-color: violet;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.nav-top.is-open .menu {
  transform: rotateY(0deg);
}
.nav-top.is-open .nav-toggle {
  transition: all 0.8s ease-out;
  background: url(../images/icon-close.svg) center no-repeat;
  background-color: darken(c.$brand-color, 5);
}
