@use '../base/root' as c;

.aside {
  padding: 0 2em;
}
@media (min-width: 50em) {
  .aside {
    // display: flex;
    // max-width: 900px;
    // margin: 0 auto;
    /* background-color: yellow; */
    // position: relative;
    padding: 0 6em;
    // margin-bottom: 5rem;
    &__inner{
    display: flex;
    // max-width: 900px;
    // margin: 0 auto;

    }
  }
}
.aside-content {
  padding: 1em 0;
  background-color: c.$white;
  max-width: 370px;
  margin: 0 auto;
  font-size: 1.3em;
  & > .translated-text {
    height: 0;
    text-align: right;
    transition: all 0.3s ease-out;
    overflow: hidden;

    & > hr {
      background-color: #ebebeb;
      height: 0.1em;
      margin: 0.6em 0;
    }
  }
  & >div >h2 {
    font-size: 1.5em;
    &::first-letter {
      font-size: 1.7em;
    }
  }
}
.aside-content.is-shown > .translated-text {
  height: auto;
}

@media (min-width: 50em) {
  .aside-content {
    transform: translate(-98px,124px);
    padding: 1em;
    text-align: left;
    max-width: 390px;
    background-color: yellowgreen;
  }
  .aside-content > h2 {
    text-align: inherit;
  }
}
.aside-content  p {
  line-height: 1.9  ;
  font-size: 1rem;
}
.aside-img {
  // background: url(./images/mobile/image-interactive.jpg) center no-repeat;
  //   background-size: contain;
  padding: 7em;
  background-color: yellow;
}
@media (min-width: 50em) {
  .aside-img {
    //   background: url(./images//desktop/image-interactive.jpg) no-repeat;
    background-size: contain;
    // padding: 18em 27em;
    display: inline-block;
    padding: 10em;
    //   background-position: left;
  }
}
.showMore-link {
  width: 60px;
  height: 30px;
  overflow: hidden;
  text-indent: 11em;
  // border-bottom: 4px solid c.$brand-color;
  background: url(../images/ellipsis.svg)  no-repeat center center;
  background-size: contain;
  border-radius: 0.6em;
  padding: 1.4em;
  margin: 0.5em auto;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transform: rotateZ(0deg);
}
.aside-content.is-shown  .showMore-link {
  // background: url(../images/hand-point-up.svg) center center no-repeat;
  transform: rotateZ(180deg);
}
