@use '../base/root' as c;
@use '../components/button';

.contact {
  padding: 1em 0.5em;
  background-color: c.$brand-color;
  &__inner {
    @media (min-width: 50em) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  @media (min-width: 20em) {
    padding: 2em;
  }
  &__info {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    color: c.$white;
    flex-direction: column;
    @media (min-width: 50em) {
      justify-content: center;
    }

    & > div:last-child {
      justify-content: end;
      @media (min-width: 50em) {
        justify-content: unset;
      }
    }
    & > * {
      display: flex;
      align-items: center;
      margin: 0.6em;
      font-size: 1.1rem;
      font-weight: 600;
      flex: 1;
      @media (min-width: 50em) {
        flex: unset;
      }
    }
    & img {
      max-width: 24px;
      max-height: 24px;
      margin-right: 0.6em;
    }
  }

  & > h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    text-transform: capitalize;
    font-variant: small-caps;
    text-align: center;
  }
}
form {
  text-align: center;
  @media (min-width: 25em) {
    max-width: 310px;
    margin: 0 auto;
  }
  & > input::placeholder,
  textarea::placeholder {
    text-transform: uppercase;
    @media (min-width: 20em) {
      text-transform: capitalize;
    }
  }
}
form > input,
textarea {
  padding: 0.4em;
  max-width: 100%;
  min-height: 3em;
  margin: 0.5em 0;
  font-size: 1.1rem;
  @media (min-width: 20em) {
    min-height: 2em;
  }
  @media (min-width: 50em) {
    outline: 0;
    border: 0;
  font-size: .9rem;
  transition: all .3s ease-out;
  &:active,&:focus{
    box-shadow: 0 0 3px 2px c.$black;
  }
  }

}
form > textarea{
  resize: none;
}



