@use '../base/root' as c;

.page-header {
  // // background: url(../images/phone-cover-2.jpg) no-repeat center center ;
  // background-size: contain;
  // padding: 1em;
  // // background-color: c.$black;
  // min-height: 24em;
  // &__inner {
  //   max-width: 1200px;
  //   margin: 0 auto;
  // }
}

.top-logo {
  max-width: 36px;
  min-height: 39px;
  background: url(../images/logo-white.svg) no-repeat center;
  background-size: contain;
  // background-color: yellow;
  padding: 1em;
  @media (min-width: 50em) {
    max-width: 50px;
    margin: 0;
    min-height: 35px;
  }
}

// .title {
//   color: c.$white;
//   text-transform: uppercase;
//   font-size: 1.8em;
//   font-weight: lighter;
//   padding: 0.5em;
//   border: 1px solid c.$white;
//   line-height: 1;
//   letter-spacing: 0.07em;
//   overflow-x: auto;
//   @media (min-width: 20em) {
//     padding: 0.5em 8em 0.5em 0.5em;
//   }
// }
// .title-container {
//   margin: 1.6em auto;
//   background: url(../images/cover-graphic.svg) no-repeat center center;
//   background-size: contain;
//   padding: 8em;
//   // background-color: yellow; 
//   @media (min-width: 25em) {
//     max-width: 315px;
//     padding: 12em;
//   }
// }
// @media (min-width: 50em) {
//   .title-container {
//     max-width: 1000px;
//     margin: 0 auto;
//   }
//   .title {
//     max-width: 45%;
//   }
// }
